@model Dentistry.Models.JournalViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="ExecutingDate" class="control-label"></label>
					<input asp-for="ExecutingDate" class="form-control" type="datetime-local" value="">
					<span asp-validation-for="ExecutingDate" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="DoctorId" class="control-label">Doctor: </label>
					<select asp-for="DoctorId">
						@foreach (var doctor in Model.Doctors)
						{
							<option value="@doctor.DoctorId">
								@doctor.FirstName @doctor.SecondName
							</option>
						}
					</select>
					<span asp-validation-for="DoctorId" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="MedRecordId" class="control-label">MedRecord: </label>
					<select asp-for="MedRecordId">
						@foreach (var medRecord in Model.MedRecords)
						{
							<option value="@medRecord.MedRecordId">
								@medRecord.FirstName @medRecord.SecondName
							</option>
						}
					</select>
					<span asp-validation-for="MedRecordId" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ProcedureId" class="control-label">Procedure: </label>
					<select asp-for="ProcedureId">
						@foreach (var procedure in Model.Procedures)
						{
							<option value="@procedure.ProcedureId">
								@procedure.Name
							</option>
						}
					</select>
					<span asp-validation-for="ProcedureId" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
