@model IEnumerable<Dentistry.Models.JournalViewModel>

@{
    ViewData["Title"] = "Journal";
}

<h1>Journal</h1>

<input class="form-control"/>
<button onclick="if (!window.find(this.previousElementSibling.value, false, false, false, false, false)) window.getSelection().empty()">Find next</button>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date

                <a href="/Journal?order=0">Asc </a>
                <a href="/Journal?order=1">Desc</a>
            </th>
            <th>
                Doctor name
            </th>
            <th>
                Doctor surname
            </th>
            <th>
                Procedure name
            </th>
            <th>
                Client name
            </th>
            <th>
                Client surname
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Procedure.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedRecord.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedRecord.SecondName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.JournalId }) |
                    <a href="/Journal/Delete/@item.JournalId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
