@model IEnumerable<Dentistry.Models.DoctorViewModel>

@{
    ViewData["Title"] = "Doctors";
}

<h1>Doctors</h1>

<input class="form-control" />
<button onclick="if (!window.find(this.previousElementSibling.value, false, false, false, false, false)) window.getSelection().empty()">Find next</button>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DoctorId })
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.DoctorId })*@
                </td>
            </tr>
        }
    </tbody>
</table>
